* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#a1{
  text-align: center;
  margin-top: 5% ;
  margin-bottom: 5%;
}
#a2{
  
  background-color: #120f98;
  padding-top: 10px;
  padding-bottom: 10px;
  color:azure;
  border-radius: 20px;
  padding-right: 5%;
  padding-left: 5%;
}
#a3{
  margin-left: 46%;
  margin-top: 30px;
  margin-bottom: 50px;
}
#a50{
  margin-bottom: 10%;
}