.App {
  text-align: center;
  padding: 20px;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
  max-width: 400px;
  max-height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  

}
.Name input {
  background-color: #5573FF;
  color: white;
  width: 100%;
  height: 60px;
  padding: '10px';
}

.information {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10%;
}


label {
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
}
#buttonsub {
  width: 100%;
  height: 50px;
  font-size: 1.4rem;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}.App {
  text-align: center;
  padding: 20px;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
  max-width: 400px;
  max-height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  

}
.Name input {
  background-color: #5573FF;
  color: white;
  width: 100%;
  height: 60px;
  padding: '10px';
}

.information {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10%;
}


label {
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
}
#buttonsub {
  width: 100%;
  height: 50px;
  font-size: 1.4rem;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}