.App {
  text-align: center;
  padding: 20px;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
  max-width: 400px;
  max-height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
  

}

.information {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 10%;
}


label {
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
